##### Home Work

Data related to a job list for a CNC machine.
Processing times and due dates of each jobs is given.
Design a simple decision support system

Kutuphaneleri ekliyoruz

In [169]:
# excelden verileri icin
import pandas as pd
# grantt chart cizim icin
import plotly.plotly as py
import plotly.figure_factory as ff

Dosyayı ekledim

In [170]:
xls = pd.ExcelFile("MachineScheduling.xlsx")

Exceldeki ilk sheet aç

In [171]:
df = xls.parse(0)

Verileri gosterdim

In [172]:
df

  Job Code  Processing Time  Due Date  Start  Finish  Tardiness
0       J1               10        35    NaN     NaN        NaN
1       J2               24        25    NaN     NaN        NaN
2       J3                9        30    NaN     NaN        NaN
3       j4                6        40    NaN     NaN        NaN
4       J5               12        20    NaN     NaN        NaN
5       J6               17        30    NaN     NaN        NaN

Task  1: Sort by Earliest Due Date by EDD Sequence

Görev 1: EDD Sırasına Göre En Son Ödeme Tarihine Göre Sırala

In [173]:
df = df.sort_values(by='Due Date')

Sıralanmış Veri Çerçevesi EDD siralamasini gore

In [174]:
df

  Job Code  Processing Time  Due Date  Start  Finish  Tardiness
4       J5               12        20    NaN     NaN        NaN
1       J2               24        25    NaN     NaN        NaN
2       J3                9        30    NaN     NaN        NaN
5       J6               17        30    NaN     NaN        NaN
0       J1               10        35    NaN     NaN        NaN
3       j4                6        40    NaN     NaN        NaN

Siraladiktan sora satir indexleri guncelledim

In [175]:
df = df.reset_index(drop = True)

Show the Data

In [176]:
df

  Job Code  Processing Time  Due Date  Start  Finish  Tardiness
0       J5               12        20    NaN     NaN        NaN
1       J2               24        25    NaN     NaN        NaN
2       J3                9        30    NaN     NaN        NaN
3       J6               17        30    NaN     NaN        NaN
4       J1               10        35    NaN     NaN        NaN
5       j4                6        40    NaN     NaN        NaN

Task 2: Computes start and finish times of each job if they are processed in the sequence determined by EDD rule

Task 3:   It computes amount of earliness or tardiness of each jo

In [177]:
startCol = df['Start']

for x in range(0, len(startCol)):
    if x == 0:
        df.at[x, 'Start'] = 0
        df.at[x, 'Finish'] = df.at[x, 'Processing Time']
        df.at[x, 'Tardiness'] = df.at[x, 'Finish'] - df.at[x, 'Due Date']
    else:
        df.at[x, 'Start'] = df.at[x - 1, 'Finish']
        df.at[x, 'Finish'] = df.at[x, 'Start'] + df.at[x, 'Processing Time']
        df.at[x, 'Tardiness'] = df.at[x, 'Finish'] - df.at[x, 'Due Date']

Show the Data

In [178]:
df

  Job Code  Processing Time  Due Date  Start  Finish  Tardiness
0       J5               12        20    0.0    12.0       -8.0
1       J2               24        25   12.0    36.0       11.0
2       J3                9        30   36.0    45.0       15.0
3       J6               17        30   45.0    62.0       32.0
4       J1               10        35   62.0    72.0       37.0
5       j4                6        40   72.0    78.0       38.0

Save the Data to a new excel file

In [179]:
df.to_excel('output.xlsx', engine='xlsxwriter', index=False)

df.rename(columns={'Job Code':'Task'}, index=str)

In [180]:
df1 = df[['Job Code' ,'Start', 'Finish']]

In [181]:
df1

  Job Code  Start  Finish
0       J5    0.0    12.0
1       J2   12.0    36.0
2       J3   36.0    45.0
3       J6   45.0    62.0
4       J1   62.0    72.0
5       j4   72.0    78.0

In [182]:
df2=df1.rename(columns={'Job Code':'Task'}, index= str)

In [183]:
df2

  Task  Start  Finish
0   J5    0.0    12.0
1   J2   12.0    36.0
2   J3   36.0    45.0
3   J6   45.0    62.0
4   J1   62.0    72.0
5   j4   72.0    78.0

Suppose each task start and finish count in day

In [184]:
xls = pd.ExcelFile("output copy.xlsx")

In [185]:
df3 = xls.parse(0)

In [186]:
df3

  Task  Due Date       Start      Finish
0   J5        20  2019-01-01  2019-01-12
1   J2        25  2019-01-12  2019-02-18
2   J3        30  2019-02-18  2019-05-03
3   J6        30  2019-05-03  2019-08-05
4   J1        35  2019-08-05  2019-11-17
5   j4        40  2019-11-17  2020-02-18

In [187]:
df = [dict(Task="J5", Start='2019-01-01', Finish='2019-01-12'),
      dict(Task="J5", Start='2019-01-12', Finish='2019-02-18'),
      dict(Task="J3", Start='2019-02-18', Finish='2019-05-03'),
      dict(Task="J6", Start='2019-05-03', Finish='2019-08-05'),
      dict(Task="J1", Start='2019-08-05', Finish='2019-11-17'),
      dict(Task="J4", Start='2019-11-17', Finish='2020-02-18')]

fig = ff.create_gantt(df)
py.iplot(fig, filename='gantt-simple-gantt-chart', world_readable=True)

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~hidayatarg/0 or inside your plot.ly account where it is named 'gantt-simple-gantt-chart'

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/IPython/core/display.py:689: UserWarning:

Consider using IPython.display.IFrame instead

Get the current Date and Increase by 1 

(datetime.today()+ timedelta(days=1)).strftime('%Y-%m-%d')